{% load static %}
<div class="chicken-item" style="cursor: pointer; width: 624px; height: 180px; margin: 8px 0; display: flex; justify-content: start;">
  <input type="hidden" id="chickenId" value="{{ chicken.id }}">
  <div style="width: 320px; height: 180px; background: #FFFFFF 0% 0% no-repeat padding-box;">
    <img src="{% static 'media/chickens/bhc/havanero_poteking_fride.png' %}" style="width: 320px; height: 180px;" alt="...">
  </div>
  <div style="width: 304px; height: 180px; background: #B59A72 0% 0% no-repeat padding-box; padding: 16px 12px;">
    <div style="font-family: scdream7; font-size: 20px; color: #553300; word-break: keep-all;">{{ chicken.name }}</div>
    <div style="display: flex; justify-content: start;">
      <span>
        {% if chicken.score > 0 %}
        <img src="{% static 'media/icon/yellow_star.png' %}" alt="" style="width: 18px;">
        {% else %}
        <img src="{% static 'media/icon/gray_star.png' %}" alt="" style="width: 18px;">
        {% endif %}
      </span>
      <span style="font-family: scdream5; font-size: 18px; color: #6C4B24; padding-top: 2px; padding-left: 2px;">{{ chicken.score }}</span>
    </div>
    <div style="margin-top: 7px; width:281px; max-height: 70px; font-family: scdream5; font-size: 16px; word-break: keep-all;">{{ chicken.introduction }}</div>
    <div style="margin-top: 4px; font-family: scdream5; font-size: 14px; height: 19px; color: #FEFBF1;">{{ chicken.cost }}원</div>
  </div>
</div>